[Desktop Entry]
Type=Application
Comment=The open source AI coding agent
Name=opencode-cli
Exec=opencode-cli
Icon=opencode-cli
Categories=Development;
Terminal=true
